@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <img src="https://img.freepik.com/premium-photo/oil-refinery-plant-at-sunset-oil-and-gas-industry-refinery-plant_507337-133.jpg" width="100%" />
    <p>Работа ведется исключительно с юридическими лицами.</p>
    <p>По вопросам сотрудничества звоните на горячую линию 8-800-555-35-35.</p>
    <p>По остальным вопросам пишите на электронную почту pipelines@sale.ru.</p>
</div>
